body {
  font-family: 'Martel Sans', sans-serif;
}

 #nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.nav-item {

  a {
    color: #fff;
  }

  a:hover {
    animation-duration: .5s;
    animation-name: bump;
  }
}

#showcase {
  background: url('../images/header-large.jpg') top center / cover no-repeat;
  height: 100vh;
  position: relative;

  #header {

    z-index: 2;

    h1 {
      font-family: 'Cinzel', serif;
      font-weight: 700;
    }
  }
}

@keyframes bump {

      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-8%);
      }

      100% {
        transform: translateY(0);
      }
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}

#header {
  background: rgba(0, 0, 0, .4);
  padding: 1rem;
  border-radius: .4rem;
}

#footer {
  background: #121212;
}

@media(min-width: 576px) {
  #nav {
    background: rgba(0, 0, 0, .4);
  }

  .navbar a {
    a {
      color: #fff;
    }
  }
}

@media(max-width: 576px) {
  #showcase {
    height: 50vh;
  }
}

@media(max-width: 768px) {
  #nav {
    background: #121212;
  }
}

@media(max-width: 400px) {
  #showcase {

    h1 {
      font-size: 2.1rem;
    }
  }
}

@media(min-width: 768px) {

  #nav {

    a {
      //color: #121212;
      font-size: 1.2rem;
    }
  }

  #showcase {
    height: 100vh;
    
    h1 {
      font-size: 4.4rem;
    }
  }
}